$ratio : 375 / 10;
@function px2rem($px){
  @return ($px / $ratio) + rem
}

@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin columnTop{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin right{
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis2($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

@mixin absCenter{
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  right: 0;
  margin: auto;
}

.icon{
  font-size: px2rem(15);
}



$color-blue: rgb(74, 171, 255);
